{{threadtitle}}
{{#each posts}}
<div class='postbox'>
    <div class='left'>
        <p>{{this.username}}</p>
        <p>{{this.timestamp}}</p>
    </div>
    <div class='right'>
        <p>{{this.content}}</p>
    </div>
</div>
{{/each}}
{{#if isLoggedIn}}
<div class='newpostbox'>
    <form action='/post/{{threadId}}' method="post">
        <input type='textarea' name='content' autofocus required>
        <button type='submit'>post</button>
    </form>
</div>
{{/if}}