<div class="threadtitlebox">{{threadtitle}}</div>
{{#each posts}}
<div class='postbox'>
    <div class='left' data-id='{{this.id}}'>
        <p>{{this.username}}</p>
        <p>{{this.time}}</p>
        {{#if this.isUser}}
        <button class='edit-post h'>edit</button>
        <button class='patch-post h hidden'>save</button>
        <button class='delete-post h hidden'>delete</button>
        {{/if}}
    </div>
    <div class='right'>
        <p class='h'>{{this.content}}</p>
        {{#if this.isUser}}
        <textarea name='content' class='textarea h hidden' required>{{this.content}}</textarea>
        {{/if}}
    </div>
</div>
{{/each}}
{{#if isLoggedIn}}
<form action='/post/{{threadId}}' method='post'>
    <div class='newpostbox'>
        <div class='hbox'>
            <textarea name='content' class='textarea' autofocus required></textarea>
        </div>
        <button type='submit'>post</button>
    </div>
</form>
{{/if}}